

body{
  background-color: black !important;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
header {
  width: 100%;
}

main{
  background-image: url(./img/sphash-art-new.png);
  background-size: cover;
  height: 100vh;
  z-index: 1;
}


.menu{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  z-index: 2;
  height: 80px;
  background-image: url(./img/PNG/header_gradient.png);
}

.menu-logo img{
  height: 2.5em;
}
.menu-nav{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: aliceblue;
  text-transform: uppercase;

}
.menu-nav  ul li{
  display: inline-block;
  text-align: center;
  padding-right: 2rem;
  padding-left: 1rem;
  border-right: bisque 1px solid;
}
.social-media  ul li{
  display: inline-block;
  text-align: center;

}
.menu li img {
  height: 1.5em;
}

aside {
  margin-top: 5rem;
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  width: 45%;
}
.logo  {
  width: 100%;
}

.logo img {
  width: 90%;
}

.aside-body {
 width: 90%;

}
.aside-body p {
  margin-bottom: 3rem;
}
.store {
  display: flex;
  justify-content: center;

}
.steam {
  margin-right: 10px;
}

.video-frame{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.screenshots {
  background: whitesmoke;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}


.layers img {
  width: 100%;
  position: absolute;

}

footer {
 background-image: url(./img/bg_07.png);
 background-size: cover;
}